{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@cazoo/eslint/react"],
    "env": {
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": ["tsconfig.json"]
    },
    "plugins": [],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "rules": {},
    "overrides": [
        {
            "files": ["*.config.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off",
                "no-console": "off"
            }
        }
    ]
}
